:root{
	--bootstrap-primary: #007BFF;
	--bootstrap-secondary: #6C757D;
}

body {
	margin: 0 auto;
	max-width: 1000px;
	padding: 20px;
	text-align: center;
}

#content-div {
	height: 100%;
	width: 100%;
}

#panorama {
	margin: 20px auto;
}

#image-grid-div {
	margin: 0 auto;
	max-width: 600px;
}

#image-grid-div h2 {
	text-align: left;
}

#image-grid-div .col-md-2 {
	background-color: var(--bootstrap-secondary);
	border-radius: 5px;
	cursor: pointer;
	height: 50px;
	margin: 5px;
}

#month-button-div {
	max-width: 500px;
	padding: 10px 0px;
}

#month-button-div button {
	margin: 10px;
}

.thumbnail-active {
	background-color: var(--bootstrap-primary) !important;
}
